server:
  port: 2222

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/httpsjayu/Configuration_Properties
          clone-on-start: true
         


